@import url("https://fonts.googleapis.com/css?family=Roboto");

body{
    background-color:white;
    div{
        color:white
    }
    .Error-text{
        color:#f44336!important;
        font-size: 16px;
        margin-left: 5px;
    }
    .customer{
        font-family: 'Roboto', sans-serif;
        font-size:18px;
    }
}

.input-field{
    label{
        top:-39px;
        font-size:16px
    }
}

.row-select-form{
    position: absolute;
    background-color: #ededed;
    width: 404px;
    z-index: 2;
    padding: 24px;
}
.card-action{
    margin-top:10px;
    div{
        float:left;
        margin-right:10px;
    }
    .clear{
        clear:both
    }
} 

.row {
    .form{
        position: absolute;
        background: #ededed;
        z-index: 2;
    }
}

select{
    display:inline!important
}

